:root {
    --logo: rgb(252, 239, 239);
    --text: rgb(210, 202, 217);
    --body: rgb(53, 53, 54);
    --aside: rgb(61, 61, 62);
    --radio: #ffffff;
    --woodz-orange: #f76902;
}

body {
    background-color: var(--body);
    margin: 0;
    display: grid;
    grid-template-columns: 65% auto;
    height: 100vh;
}

#carousel-mob, .block-mob  {
    display: none;
}

h1 {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 30px;
}

h2, h3 {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-top: 60px;
    margin-bottom: 0px;
} 

h4 {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 10px;
}

p, a, li {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    font-size: 1rem;
    margin-top: 5px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: #382a37;
    justify-content: space-between;
    box-shadow: 0px 10px 15px rgb(40, 40, 40);
}

#logo {
    padding: 10px;
    font-family: 'Kaisei Decol', serif;
    align-items: center;
}

#logo img {
    border-radius: 50%;
    max-height: 70px;
    max-width: 70px;
    margin-right: 5px;
}

nav {
    display: flex;
}

nav ul {
    align-items: center;
    margin-right: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin-top: 100px;
}

#carousel {
    position: relative;
    right: -65vw;
}

#carousel a img {
    max-width: 65vw;
    margin-right: 0vw;
    position: relative;
    transition-duration: 1s;
}

aside {
    /* background-color: var(--aside); */
    background-image: linear-gradient(var(--body), var(--aside));
    overflow-y: scroll;
    font-size: 1rem;
    padding: 50px;
    margin-top: 90px;
}

section ul, section li {
    padding: 0;
    margin-left: 10px;
    list-style-type:circle;
    
}

li a, li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
}

.hidden {
    display: none;
}

.horizontal {
    display: flex;
}

#right, #left, #right-mob, #left-mob {
    background-color: transparent;
    border: none;
}

.block {
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

i {
    cursor: pointer;
    margin: 0 20px 0 20px;
    display: block;
    color: var(--text);
    font-size: 4rem;  
}


input[type="radio"] {
    /* -webkit-appearance: none; */
    appearance: none;
    background-color: transparent;
    margin: 10px;
    font: inherit;
    color: var(--radio);
    width: 0.8em;
    height: 0.8em;
    border: 0.06em solid var(--radio);
    border-radius: 50%;
    cursor: pointer;
    /* transform: translateY(-0.075em); */
    display: grid;
    place-content: center;
}

input[type="radio"]:checked {
    background-color: currentColor;
}

::-webkit-scrollbar {width: 8px;}

::-webkit-scrollbar-thumb {background: #d9d9d9;
border-radius: 4px;}

::-webkit-scrollbar-track {
    background: #535353;
    border-radius: 4px;}


    @keyframes fadeIn {
        0% {opacity: 0}
        100% {opacity: 1}
       }
    
    .fadeIn {
        animation: fadeIn 1s linear;
    }
    

@media screen and (max-width: 850px) {

body {
    background-color: var(--body);
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
}

h4 {
    font-size: 1em;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

li a, li {
    padding: 0 5px 0 0;
    margin: 0;
    font-size: 0.9em;
}

#carousel, .block {
    display: none;
}

#carousel-mob, .block-mob {
    display: flex;
}

#carousel-mob {
    position: relative;
    left: 100vw;
}

#carousel-mob a img {
    width: 100vw;
    margin-right: 0vw;
    position: relative;
    transition-duration: 1s;
}

main {
overflow-x: hidden;
}

aside {
    margin: 0;
}
        

}